.task{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}


.task > div{
    width: 100%;
}

.task span {
    color: rgba(0, 0, 0, 0.671);
}

.task button {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 1.6rem;
    display: flex;
    background-color: crimson;
    justify-content: center;
    align-items: center;
}

.task button:hover{
    background-color: red;
}